.row {
  &__tea-info {
    position: relative;
  }

  &__tea-description {
    margin-top: 5px;
    position: absolute;
    left: -10px;
    background-color: var(--secondary-color);
    width: 320px;
    z-index: 10;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 10px 10px 15px 5px var(--shadow-color);
    font-size: 14px;
  }

  &__price {
    text-align: center;
  }

  &__input {
    text-align: center;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    color: var(--secondary-color);
  }

  &__input:focus-visible {
    outline: 0;
    background-color: var(--input-background-color);
  }

  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  &__button {
    border: 0;
    cursor: pointer;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    background-color: var(--main-color);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
  }

  &__button_minus {
    -webkit-mask-image: url('../../assets/minus.svg');
    mask-image: url('../../assets/minus.svg');
  }

  &__button_plus {
    -webkit-mask-image: url('../../assets/plus.svg');
    mask-image: url('../../assets/plus.svg');
  }
}
