.button {
  min-height: 25px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  box-sizing: border-box;
  font-family: var(--font-main);
  line-height: 0;

  &:hover {
    opacity: 0.7;
    color: var(--hover-color);
  }

  &__telegram,
  &__whatsapp,
  &__instagram,
  &__vk,
  &__plus,
  &__minus,
  &__info {
    background-color: var(--main-color);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
  }

  &__telegram:hover,
  &__whatsapp:hover,
  &__instagram:hover,
  &__vk:hover,
  &__plus:hover,
  &__minus:hover,
  &__info:hover {
    background-color: var(--main-color);
  }

  &__telegram {
    -webkit-mask-image: url('../assets/telegram.svg');
    mask-image: url('../assets/telegram.svg');
  }

  &__whatsapp {
    -webkit-mask-image: url('../assets/whatsapp.svg');
    mask-image: url('../assets/whatsapp.svg');
  }

  &__instagram {
    -webkit-mask-image: url('../assets/instagram.svg');
    mask-image: url('../assets/instagram.svg');
  }

  &__vk {
    -webkit-mask-image: url('../assets/vk.svg');
    mask-image: url('../assets/vk.svg');
  }

  &__plus {
    -webkit-mask-image: url('../assets/plus.svg');
    mask-image: url('../assets/plus.svg');
  }

  &__minus {
    -webkit-mask-image: url('../assets/minus.svg');
    mask-image: url('../assets/minus.svg');
  }

  &__info {
    -webkit-mask-image: url('../assets/info.svg');
    mask-image: url('../assets/info.svg');
  }

  &__save,
  &__saved,
  &__about-tea {
    gap: 5px;
  }

  &__save::before,
  &__saved::before,
  &__about-tea::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &__save,
  &__saved {
    padding: 0 5px;
  }

  &__save::before {
    background-image: url('../assets/copy.svg');
  }

  &__saved {
    color: var(--input-background-color);
  }

  &__saved:hover {
    color: var(--input-background-color);
  }

  &__saved::before {
    background-image: url('../assets/copy-success.svg');
  }
}
