#root {
  --main-color: #cccccc;
  --secondary-color: #333333;
  --shadow-color: #111111;
  --input-background-color: #d7ffc1;
  --hover-color: #ffffff;
  --modal-wrapper-color: rgba(25, 25, 25, 0.8);
}
