@import url('../../variables/fonts.scss');
@import url('../../variables/colors.scss');
@import url('../../variables/buttons.scss');

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--font-main);
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)),
    url('../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--main-color);

  box-sizing: border-box;
  padding: 0 20px;
}

* {
  margin: 0;
  padding: 0;
}
