.header {
  flex: 0 0 auto;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  position: relative;

  &__title {
    line-height: 1;
    font-size: 20px;
    margin-right: auto;
  }

  &__description {
    margin-top: 5px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--secondary-color);
    z-index: 10;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 10px 10px 15px 5px var(--shadow-color);
    font-size: 14px;
  }
}
